# Email Settings
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SERVICE=gmail
EMAIL_USERNAME=your-email@gmail.com
EMAIL_PASSWORD=your-app-password

# Recipient & Sender Config
SENDER_EMAIL=your-email@gmail.com
MY_EMAIL=destination-email@gmail.com

